USE [master]
GO
/****** Object:  Database [InventarioDB]    Script Date: 25/03/2026 7:42:49 a. m. ******/
CREATE DATABASE [InventarioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEVELOPER\MSSQL\DATA\InventarioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEVELOPER\MSSQL\DATA\InventarioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioDB]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/03/2026 7:42:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Categoria] [varchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Categoria], [Precio], [Stock]) VALUES (1, N'joise', N'cdcd', CAST(33333.00 AS Decimal(10, 2)), 33)
INSERT [dbo].[Productos] ([Id], [Nombre], [Categoria], [Precio], [Stock]) VALUES (2, N'ssofia', N'loca', CAST(222.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[Productos] ([Id], [Nombre], [Categoria], [Precio], [Stock]) VALUES (3, N'ssofia', N'loca', CAST(222.00 AS Decimal(10, 2)), 10)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
USE [master]
GO
